<div class="center hero-unit">
  <h1>Noompang.com</h1>

  <h2>
    A new way of sharing your rides.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign up with Facebook", '#', class: "btn btn-large btn-danger" %>
</div>
