<% provide(:title, new_notifications_count.to_s + ' | ' + @user.first_name + ' ' + @user.last_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Notifications
      </h1>
    </section>
  </aside>
  <% if has_notifications? %>
    <% if has_new_notifications? %>
      <div class="row">
        <div class="span12">
          <h2> New notifications </h2>
          <table class="table table-condensed">
            <thead>
              <tr>
                  <td>
                    
                  </td>          
              </tr>
            </thead>
            <tbody>
                <%= render new_notifications %>
            </tbody>   
          </table>
        </div>
      </div>
    <% else %>
      no new notifications
    <% end %>
    <div class="row">
      <div class="span12">
        <h2> Older notifications </h2>
        <table class="table table-condensed">
          <thead>
            <tr>
                <td>
                  
                </td>          
            </tr>
          </thead>
          <tbody>
              <%= render old_notifications %>
          </tbody>   
        </table>
      </div>
    </div>
  <% else %>
    no notifications
  <% end %>
</div>
