<div class="row">
  <div class="span12">
    <table class="table table-condensed">
      <thead>
        <tr>
            <td>
              From
            </td>        
            <td>
              Pickup Date
            </td>          
            <td>
              Pickup Time
            </td> 
            <td>
              Pickup Address
            </td>
            <td>
              Dropoff Address
            </td> 
            <td>
            </td>
            <td>

            </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= render @ride.ride_requests %>
        </tr>
      </tbody>   
    </table>
  </div>
</div>
