<footer class="footer">
  <small>
    #
  </small>
  <nav>
    <ul>
      <li><a name="fb_share" type="button" share_url="http://www.noompang.com"></a></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>
